.contDiv{
  align-items: center;
  border-radius: 20px;
    margin: 20px;
    margin-right: 20% ;
    margin-left: 20% ;
    width: auto;
    line-height: 20px;
    text-align: justify;
    border: 1px solid #33333300;
    cursor: pointer;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: rgba(255, 255, 255, 0.11);
    border-top: rgba(245, 212, 255, 0.897) solid 1.5px;
    z-index: 1;
}
.textDiv{
  margin: 2%;
  margin-left: 5%;
  margin-right: 5%;
}
ul{
    list-style: none;
    width: auto;
    padding: 8px 12px;
    filter: blur(2px);
    color: #eeeeee;
    font-size: 16px;
}
ul:hover{
  filter: blur(0px);
  transition: 0.2s;
}
.lastDivList{
  border-bottom: none;
}
.enter-animation {
  animation: slide-fade 1s;
  opacity: 1;
}
@keyframes slide-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.leave-animation {
  animation: slide-fade-out 1s;
  opacity: 0;
}
@keyframes slide-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .contDiv{
      margin-right: 10% ;
      margin-left: 10% ;
  }
  .textDiv{
    font-size: 10px;
  }
}
