footer{
    bottom: 0;
    left: 0;
    color: white;
    text-align: center;
    width: 100%;
}
section{
    background: linear-gradient(360deg,rgba(0, 0, 0, 0.801) 1%,rgba(0, 0, 0, 0) 100%);
}
#columnsDivs{
    text-align: center;
    flex-wrap: wrap;
    max-width: 700px;
    margin-top: 15vh !important;
    margin: auto;
    display: flex;
    gap: 16px;
    /* background-color: rgba(0, 0, 0, 0.404); */
}
.contDiv{
    flex: 1 3 300px; /* toma espacio disponible, columnas iguales */
    padding: 16px;
    align-content: center;
}
#idImgCont{
    border: 5px solid rgba(138, 189, 255, 0.603);
    border-radius: 100px ;
    padding: 2%;
    width: 20vh;
}
.title{
    font-size: 20px;
    color: rgb(185, 214, 252);;
}
.imgIcon{
    width: 5vh;
    margin: 2%;
}
.imgIcon:hover{
    scale: 1.1;
    transition: all 1s;
}
#copy{
    background: linear-gradient(360deg,rgb(0, 0, 0) 1%,rgba(0, 0, 0,  0.801) 100%);
    text-align: center;
    padding: 1%;
    margin-block: 0;
}
@media (max-width: 768px) {
    section{
       
    }
}