.nameDiv{
    margin: 0 auto;
    padding-top: 32px;
    width: 100%;
    max-width: 90vw;
    height: 90vh;
    display: flex;         
    justify-content: center;
    align-items: center;    
    text-align: center;
    flex-direction: column;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.651);
    z-index: 1;
}
h1{
    width: 100%;
    font-size: 150px;
    margin: 0;
    text-align: center;
}
h2{
    width: 100%;
    font-size: 100px;
    margin: 0px;
    text-align: center;
}
@media (max-width: 768px) {
    .nameDiv{
    /* width: 50vw;
    height: 50vh; */
    }
    h1 {
    font-size: 50px;
    }
    h2{
    font-size: 30px;
}
}
@media (prefers-color-scheme: light) {
   .nameDiv{
    text-shadow: 1px 1px 5px rgba(29, 29, 29, 0.76);
  }
}