.nameDiv{
    margin: 0 auto;
    padding-top: 32px;
    width: 90vw;
    height: 90vh;
    display: flex;         
    justify-content: center;
    align-items: center;    
    text-align: center;
    flex-direction: column;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.651);
    z-index: 1;
}
h1{
    width: 100%;
    font-size: 150px;
    margin: 0;
}
h2{
    width: 100%;
    font-size: 100px;
    margin: 0px;
}
