.SecBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; 
  background: linear-gradient(-45deg, #2f26b9, #110d4e, #06032e, #00000a);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.bubbles {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.bubble {
  position: absolute;
  bottom: -10vh;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.767);
  filter: blur(.10px);
  animation: rise linear infinite;
}

@keyframes rise {
  0% {
    transform: translateY(20px) scale(0.5);
    opacity: 0;
  }
  10% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(0px) scale(1.5);
    opacity: 1;
  }
}