/* You can add global styles to this file, and also import other style files */
:root{
    color-scheme: light dark;
    /* background: linear-gradient(0deg, #000000 0%, #310052 100%); */
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
@media (prefers-color-scheme: dark) {
  .SecBackground {
      background: linear-gradient(-45deg, #00000a, #3427ec75, #4c3ffc67, #00000a);
  }
}

@media (prefers-color-scheme: light) {
  .SecBackground {
      background: linear-gradient(-45deg, #050047, #554ae7, rgb(82, 73, 207),#050047);
  }
  :root{
    color: rgb(26, 26, 26);
  }
}